<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/imagens/Blackvariant-Button-Ui-System-Folders-Alt-Home.ico">
</head>
<body>
    <header class="header-container">
        <div class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="toggle">
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu"></div>
                    <nav class="menu-itens">
                        <ul>
                            <li>
                                <a href="https://wa.me/5548998098694" target="_blank">Contato</a>
                            </li>
                            <li>
                                <a href="mailto:padilhadione1@gmail.com" target="_blank">Email</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <h1>Dione Rafael Padilha</h1>
        <h2>Desenvolvedor Back-End Python, Django, Django Rest Framework, HTML, CSS</h2>

        <div class="social-media">
            <a href="https://www.linkedin.com/in/dione-padilha-a99864234/">Linkedin</a>
            <a href="https://github.com/Dio30">GitHub</a>
        </div>
    </header>

    <main class="container">
        <div class="card-container">
            <div class="card">
                <div class="card-wrapper">
                    <h3>Projeto 1</h3>
                    <br>
                    <p><a href="https://projeto-carros.up.railway.app/" class="btn btn-sm btn-secondary" target="_blank">Clique aqui</p></a>
                    
                </div>
            </div>
            <div class="card-text">
                Um projeto completo em Django com CRUD completo com adição de imagens de carros simulando uma concessionária de carros, 
                tambem é possivel que a cada erro em algum formulario existe uma validação propria, o armazenamento de imagens é feito 
                pelo AWS Cloud S3 e utilizo o PostgreSql como banco de dados, o deploy foi feito pelo heroku.
                Caso esqueça a senha voce pode redefina-la atraves do seu email cadastrado ou se só quiser trocar a senha sabendo a 
                antiga pode troca-la dentro do site mesmo.
                <br><br><br>
            </div>
        </div>

        <div class="card-container">
            <div class="card">
                <div class="card-wrapper">
                    <h3>Projeto 2</h3>
                    <br>
                    <p><a href="https://cadastro-de-jogos.up.railway.app/" class="btn btn-sm btn-secondary" target="_blank">Clique aqui</p></a>
                </div>
            </div>
            <div class="card-text">
                Foi feito um CRUD de jogos em django sendo responsivo para celular, pode visualizar imagens atraves do modal sem sair 
                da pagina e para deletar um jogo é possivel através do modal tambem. No CRUD é possivel visualizar, adicionar, editar e 
                deletar jogos selecionados e aparecerá uma mensagem no topo da pagina se a ação foi bem sucedida.
                <br>
                Também é possivel adicionar/editar sua foto de perfil separadamente das fotos dos jogos adicionados, no perfil pode 
                trocar o nome do usuario e o seu email tambem.
                <br>
                É possivel tambem fazer paginação entre os jogos adicionados já que só é possivel visualizar um jogo por pagina por 
                questão de responsividade.
                <br>
                Caso queira pode trocar a senha sabendo a senha antiga e obedecendo os critérios solicitados.
                <br>
                Quando é cadastrado um usuario e um email se quiser esse usuario se torna unico e o email quando inserido também, 
                acredito que em questão de segurança e privacidade são questões muito importantes.
                <br>
                Esse projeto é mais voltado para pessoas que gostam de jogos e que queiram mantê-los guardados em um site e também serve para simular uma loja de jogos que queira manter seu estoque atualizado.
            </div>
        </div>

        <div class="card-container">
            <div class="card">
                <div class="card-wrapper">
                    <h3>Projeto 3</h3>
                    <br>
                    <p><a href="https://portifolio-site-django.herokuapp.com/" class="btn btn-sm btn-secondary" target="_blank">Clique aqui</p></a>
                </div>
            </div>
            <div class="card-text">
                Com esse CRUD voce consegue ver, adicionar, editar e deletar jogos a sua vontade. Tambem é possivel fazer um cadastro 
                criando um novo usuario e tambem fazer login e inserir jogos a vontade sem qualquer interferencia de outros usuarios.
            </div>
        </div>
        
    </main>

    <footer class="footer">
        Feito por Dione Rafael Padilha
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>